.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.content {
	text-align: center;
	width: 100%;
	padding: 24px 16px;
	font-size: var(--game2048-global-font-size-lg);
	font-family: var(--game2048-global-font-family);
	color: var(--game2048-global-color-secondary-text-100);
	background: var(--game2048-global-color-secondary-100);
	box-shadow: 0 0 0 8px var(--game2048-global-color-secondary-200);
}

.title {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: var(--game2048-global-font-size-xl);
}

.subtitle {
	font-size: var(--game2048-global-font-size-sm);
	line-height: var(--game2048-global-font-height);
}
