.container {
  padding: 16px;
  background-color: var(--game2048-global-color-primary-bg);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  min-height: 1000px;

  --game2048-cell-width: 132px;
  --game2048-cell-height: 132px;
  --game2048-cell-padding: 8px;
}

.content {
  display: grid;
  grid-gap: 16px;
  outline: none;
  margin: 0 auto;
  max-width: 544px;
  width: 100%;
}

.field {
  width: 100%;
  position: relative;
  touch-action: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 96px;
  line-height: 70px;
  color: var(--game2048-global-color-primary);
  font-family: var(--game2048-global-font-family);
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 8px;
}

.info {
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  justify-content: space-between;
}
