.content {
  display: grid;
  grid-gap: 16px;
  outline: none;
  max-width: 544px;
  width: 100%;
}

.field {
  width: 100%;
  position: relative;
  touch-action: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 96px;
  line-height: 70px;
  color: var(--game2048-global-color-secondary-text-100);
  font-family: var(--game2048-global-font-family);
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 8px;
}

.info {
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  justify-content: space-between;
}
