.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
	width: 100%;
	text-align: center;
	padding: 16px;
	border-radius: 8px;
	background: var(--game2048-global-color-secondary-100);
	color: var(--game2048-global-color-secondary-text-100);
	box-shadow: 0 0 0 8px var(--game2048-global-color-secondary-200);
}

.title {
	color: var(--game2048-global-color-secondary-text-300);
  font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-xl);
	font-weight: bold;
}

.subtitle {
	font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-sm);
}
