.description {
  font-size: var(--game2048-global-font-size-md);
  font-family: var(--game2048-global-font-family);
  line-height: var(--game2048-global-font-height);
  color: var(--game2048-global-color-secondary-text-100);
}

.description p:first-child {
  margin-top: 0;
}

.description p:last-child {
  margin-bottom: 0;
}
