.button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  position: relative;
  color: var(--game2048-global-color-primary-text-100);
  background: var(--game2048-global-color-primary-100);
}

.figure {
  transform: none;
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border: 3px solid var(--game2048-global-color-primary-text-100);
  border-radius: 50%;
  box-sizing: border-box;
}

.circle:after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: var(--game2048-global-color-primary-100);
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-width: 4px;
  top: -3px;
  left: -3px;
  box-sizing: border-box;
  border-left: 2px solid var(--game2048-global-color-primary-100);
  border-bottom: 2px solid var(--game2048-global-color-primary-100);
  transform: rotate(45deg) translateY(-50%);
}

.arrow:before {
  content: "";
  width: 3px;
  height: 100%;
  border-radius: 2px;
  background-color: var(--game2048-global-color-primary-text-100);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.arrow:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--game2048-global-color-primary-text-100);
  display: block;
}

.button:hover .figure {
  transform: rotate(-45deg);
}
