.field {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 8px;
  background: var(--game2048-global-color-primary-100);
  box-shadow: 0 0 128px var(--game2048-global-color-secondary-400);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.inner {
  width: 100%;
  position: relative;
}

.cells {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.progress,
.over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--game2048-global-font-size-xl);
  line-height: var(--game2048-global-font-height);
  font-family: var(--game2048-global-font-family);
}

.text {
  padding: 16px 32px;
  border-radius: 8px;
  background: var(--game2048-global-color-secondary-200);
  color: var(--game2048-global-color-secondary-text-200);
}
