.option {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--game2048-secondary-color);
  color: var(--game2048-secondary-color-text);
  border: 2px solid var(--game2048-secondary-color);
  font-family: var(--game2048-font-family);
  font-size: 1em;
  font-weight: bold;
}

.active {
  background: none;
}

.text {
  display: block;
  color: var(--game2048-primary-color-text);
  font-family: var(--game2048-font-family);
  line-height: var(--game2048-font-height);
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 4px;
}

.group {
  align-items: center;
  display: flex;
  gap: 4px;
}
