.content {
  padding: 56px;
  display: grid;
  gap: 24px;
  grid-template-columns: min-content;
  background: var(--game2048-global-color-primary-bg);
}

.actions {
  position: absolute;
  right: 16px;
  top: 16px;
}

.option {
  height: 72px;
  width: 72px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--game2048-global-color-primary-bg);
  color: var(--game2048-global-color-secondary);
  border: 2px solid var(--game2048-global-color-secondary);
  font-family: var(--game2048-global-font-family);
  font-weight: bold;
  font-size: 24px;
}

.active {
  background: var(--game2048-global-color-secondary);
  color: var(--game2048-global-color-secondary-text);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.text {
  display: block;
  color: var(--game2048-global-color-secondary-text);
  font-family: var(--game2048-global-font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;
}

.group {
  align-items: center;
  display: flex;
  gap: 4px;
}

.footer {
  padding-top: 16px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  position: relative;
  background: var(--game2048-global-color-secondary);
  color: var(--game2048-global-color-secondary-text);
  font-family: var(--game2048-global-font-family);
  font-size: 18px;
  font-weight: bold;
}

.hint {
  margin-top: 8px;
  font-family: var(--game2048-global-font-family);
  color: var(--game2048-global-color-primary-text);
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
