.content {
  padding: 36px;
  display: grid;
  gap: 24px;
  grid-template-columns: min-content;
  background: var(--game2048-global-color-secondary-100);
  border-radius: 8px;
}

.actions {
  position: absolute;
  right: 16px;
  top: 16px;
}

.option {
  height: 56px;
  width: 56px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--game2048-global-color-secondary-400);
  color: var(--game2048-global-color-secondary-text-400);
  border: 2px solid var(--game2048-global-color-secondary-400);
  font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-lg);
  font-weight: bold;
}

.active {
  background: var(--game2048-global-color-secondary-100);
  color: var(--game2048-global-color-secondary-text-100);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.text {
  display: block;
  color: var(--game2048-global-color-secondary-text-100);
  font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-md);
  line-height: var(--game2048-global-font-height);
  font-weight: bold;
  margin-bottom: 4px;
}

.group {
  align-items: center;
  display: flex;
  gap: 4px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  position: relative;
  background: var(--game2048-global-color-secondary-400);
  color: var(--game2048-global-color-secondary-text-400);
  font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-md);
  line-height: var(--game2048-global-font-height);
  font-weight: bold;
}

.button:hover {
  background: var(--game2048-global-color-secondary-100);
  color: var(--game2048-global-color-secondary-text-100);
  border: 2px solid var(--game2048-global-color-secondary-400);
}

.hint {
  display: inline-block;
  text-align: center;
  margin-top: 8px;
  font-family: var(--game2048-global-font-family);
  font-size: var(--game2048-global-font-size-sm);
  line-height: var(--game2048-global-font-height);
  color: var(--game2048-global-color-secondary-text-100);
}
