.button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  height: 40px;
  width: 40px;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: inherit;
	padding: 0;
}

.figure {
	width: 1.25em;
	height: 1.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transform: rotate(45deg);
	transition: transform ease 100ms;
}

.figure:before {
	position: absolute;
	content: "";
	width: 3px;
	height: 100%;
	border-radius: 4px;
	background: var(--game2048-secondary-color-text);
}

.figure:after {
	position: absolute;
	content: "";
	height: 3px;
	width: 100%;
	border-radius: 4px;
	background: var(--game2048-secondary-color-text);
}

.figure:hover {
	transform: rotate(45deg) scale(0.9);
}
